.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 60px;
}

.navbar a {
    color: #ffffff; /* Color normal */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease; /* Animación de hover y cambio de color */
}

.navbar a:hover {
    color: #60a5fa; /* Color al pasar el mouse */
}

/* Estilo para el enlace activo */
.navbar .active {
    color: #ffa500; /* Cambia a naranja cuando está activo */
    border-bottom: 2px solid #ffa500; /* Línea debajo del enlace activo */
}
